* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background: #000;
}

audio {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
canvas {
  display: block;
  margin: 0 auto;
  background: transparent;
}
